:root {
  --primary-brand-color: #61d1fa;
  --light-color: #e1e1e0;
  --dark-color: #11151d;
  --secondary-brand-color: #ba64f2;
  --mid-grey: #2b2f35;
  --light-grey: #86888b;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 64px;
  font-weight: 600;
  line-height: 96px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 39px;
  font-weight: 500;
  line-height: 58.5px;
}

h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

p {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
}

a {
  color: var(--primary-brand-color);
  text-decoration: underline;
}

.section-padding {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25.8px;
}

.container {
  max-width: 2000px;
  flex: 1;
  margin-left: auto;
  margin-right: auto;
}

.style-guide-grid {
  grid-column-gap: 40px;
  grid-row-gap: 41px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  grid-auto-columns: 1fr;
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
}

.style-guide-category {
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;
  margin-top: 20px;
  padding-bottom: 5px;
  font-weight: 700;
}

.style-guide-edit {
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;
  margin-top: 10px;
  margin-bottom: 10px;
}

.light-text {
  color: var(--light-color);
}

.style-guide-element {
  color: #fff;
  background-color: #3b83f7;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 3px 5px;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
}

.style-guide-class {
  color: #fff;
  background-color: #3b83f7;
  border-radius: 3px;
  padding: 3px 8px;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
}

.style-guide-class.tag-class {
  background-color: #cc55b8;
}

.style-guide-edit-wrap {
  opacity: .4;
}

.style-guide-edit-wrap:hover {
  opacity: 1;
}

.small-p {
  font-size: 15px;
  line-height: 22.5px;
}

.large-p {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.style-guide-color-wrap {
  height: 100px;
  background-color: var(--dark-color);
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  padding: 15px 30px;
  display: flex;
}

.style-guide-color-wrap.primary-color-background {
  background-color: var(--primary-brand-color);
}

.style-guide-color-wrap.secondary-color-background {
  background-color: var(--secondary-brand-color);
}

.style-guide-color-wrap.mid-grey-color-background {
  background-color: var(--mid-grey);
}

.style-guide-color-wrap.light-color-background, .style-guide-color-wrap.white-background {
  background-color: var(--light-color);
}

.style-guide-color-wrap.light-grey-color-background {
  background-color: var(--light-grey);
}

.button {
  background-color: var(--mid-grey);
  border-radius: 15.46px;
  margin-top: 0;
  font-size: 24px;
  line-height: 36px;
}

.button.ghost-button {
  border: 2px solid var(--primary-brand-color);
  color: var(--primary-brand-color);
  background-color: rgba(0, 0, 0, 0);
}

.button.ghost-button.invese-ghost {
  border-color: var(--light-color);
  color: var(--light-color);
}

.button.inverse-button {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.button.form-submit {
  margin-top: 15px;
}

.style-guide-grid-item-wrap {
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  justify-items: stretch;
  padding-top: 10px;
  display: grid;
}

.list {
  padding-left: 15px;
}

.list-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-field.form-select {
  background-color: var(--light-color);
}

.form-lable {
  margin-top: 20px;
}

.form-checkbox {
  width: 20px;
}

.style-guide-layout-demo {
  background-color: #d3d3d3;
  border: 1px solid #d3d3d3;
}

.style-guide-layout-demo.section-padding {
  margin-top: 30px;
}

.style-guide-white-div {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
}

.popup-background-wrap {
  z-index: 100;
  background-color: rgba(0, 0, 0, .8);
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.popup-card {
  max-width: 450px;
  background-color: var(--light-color);
  text-align: center;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  display: flex;
  position: relative;
}

.style-guide-wrap {
  padding-top: 20px;
}

.close-popup-button {
  color: var(--dark-color);
  padding: 15px;
  font-size: 20px;
  text-decoration: none;
  position: absolute;
  top: -5px;
  bottom: auto;
  left: auto;
  right: -5px;
}

.style-guide-popup-wrap {
  background-color: var(--dark-color);
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 22px;
  display: flex;
}

.d1 {
  color: #e1e1e0;
  margin-right: 3px;
  padding-right: 0;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
}

.body {
  background-color: #11151d;
  margin-right: 3px;
}

.navbar-master {
  z-index: 5;
  width: 100%;
  -webkit-text-fill-color: inherit;
  background-image: linear-gradient(#2b2f35, #2b2f35);
  background-clip: border-box;
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  position: fixed;
  right: auto;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu-two {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link {
  color: #e1e1e0;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: #61d1fa;
  font-weight: 400;
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link.w--current {
  pointer-events: auto;
  color: #e1e1e0;
  -webkit-text-stroke-color: #e1e1e0;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  color: #e1e1e0;
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-list.shadow-three.mobile-shadow-hide.w--open {
  background-color: #e1e1e0;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.text-block-2 {
  color: #e1e1e0;
}

.div-block {
  aspect-ratio: 16 / 9;
  background-image: url('../images/Features_Header_01.png');
  background-position: 0 0;
  background-size: cover;
}

.hero-heading-left {
  z-index: 1;
  -webkit-text-fill-color: inherit;
  background-color: #e1e1e0;
  background-clip: border-box;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
  box-shadow: 4px 4px 3px rgba(17, 21, 29, .08);
}

.hero-wrapper {
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.margin-bottom-24px {
  color: #2b2f35;
  text-shadow: 4px 4px 3px rgba(17, 21, 29, .08);
  margin-bottom: 24px;
}

.shadow-two {
  aspect-ratio: 560 / 392;
  object-fit: cover;
  border-radius: 15.46px;
  box-shadow: 4px 4px 3px rgba(17, 21, 29, .08);
}

.div-block-intavt-2 {
  aspect-ratio: 1440 / 620;
  opacity: 1;
  background-image: url('../images/Kibah3.jpg');
  background-position: 50% 0;
  background-size: cover;
}

.div-block-intavt-2:hover {
  opacity: 1;
}

.hero-heading-right-3 {
  z-index: 1;
  background-color: #e1e1e0;
  border-bottom: 1px solid #e4ebf3;
  margin-bottom: 0;
  padding: 80px 30px;
  position: relative;
}

.hero-wrapper-2 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.shadow-two-3 {
  aspect-ratio: 560 / 392;
  -webkit-text-fill-color: inherit;
  object-fit: cover;
  background-clip: border-box;
  border-radius: 15.46px;
  box-shadow: 4px 4px 3px rgba(17, 21, 29, .08);
}

.div-block-3 {
  aspect-ratio: 1440 / 620;
  background-image: url('../images/Features_Header_03.png');
  background-position: 50%;
  background-size: cover;
}

.hero-stack {
  z-index: 1;
  width: 100%;
  height: 306px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #86888b;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -1px;
  padding: 64px 24px;
  display: flex;
  position: relative;
}

.small-container {
  width: 100%;
  max-width: 960px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.title-section {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.image-wrapper {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-block-4 {
  color: #e1e1e0;
  text-align: center;
  text-shadow: 4px 4px 3px rgba(17, 21, 29, .08);
  font-size: 39px;
  font-weight: 500;
  line-height: 58.5px;
}

.heading {
  color: #e1e1e0;
}

.heading.d1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 96px;
}

.paragraph {
  color: #e1e1e0;
}

.body-3 {
  background-color: #11151d;
}

.heading-2 {
  color: #e1e1e0;
  -webkit-text-stroke-color: #e1e1e0;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: #e1e1e0;
  margin-top: 70px;
  margin-bottom: 15px;
}

.body-4 {
  background-color: #11151d;
}

.list-2 {
  color: #e1e1e0;
}

.body-5 {
  background-color: #11151d;
}

.list-3 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.event-wrapper {
  height: 530px;
  -webkit-backdrop-filter: brightness(200%) blur(20px);
  backdrop-filter: brightness(200%) blur(20px);
  background-color: rgba(134, 136, 139, 0);
  border-radius: 15.46px;
  align-items: stretch;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 6px 8px 11px -2px #11151d;
}

.body-6 {
  background-color: #e1e1e0;
  background-image: url('../images/Website_Background_01_C_v01.jpg');
  background-position: 0 0;
  background-size: cover;
}

.top-wrapper {
  width: 100%;
  height: 145px;
  text-align: left;
  -webkit-text-stroke-color: #86888b;
  justify-content: center;
  margin-top: 15.46px;
  display: flex;
}

.date-and-day-wrapper {
  width: 35%;
  height: 145px;
}

.event-information-wrapper {
  width: 65%;
  height: 145px;
  flex: none;
}

.h1 {
  color: #e1e1e0;
  -webkit-text-stroke-color: #e1e1e0;
  align-self: center;
  margin-top: 15.46px;
  margin-bottom: 15.46px;
  font-size: 64px;
  font-weight: 600;
  line-height: 96px;
}

.h2 {
  align-self: center;
  font-size: 39px;
  font-weight: 500;
  line-height: 58.5px;
}

.event-name {
  color: #f8f770;
  text-align: right;
  align-self: flex-end;
  margin-top: 1px;
  font-size: 32px;
  font-weight: 600;
  line-height: 37px;
}

.flex-block-4 {
  width: 5%;
  height: 145px;
}

.event-date, .event-link {
  color: #e1e1e0;
  text-align: right;
  align-self: flex-end;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
}

.event-time {
  color: #e1e1e0;
  align-self: flex-end;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
}

.horizontal-divider-wrapper {
  height: 30px;
}

.image {
  aspect-ratio: 16 / 9;
  border-radius: 9.6px;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.text-block-10, .text-block-11 {
  color: #e1e1e0;
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
}

.text-block-13 {
  color: #e1e1e0;
  text-align: center;
  text-shadow: 4px 4px 3px rgba(17, 21, 29, .08);
  font-size: 64px;
  font-weight: 600;
  line-height: 96px;
}

.text-block-14 {
  color: #e1e1e0;
  object-fit: fill;
  margin-top: 18px;
  margin-left: 6px;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
}

.flex-block-6 {
  width: 77.5%;
  align-items: flex-start;
}

.button-3 {
  text-align: center;
  background-color: #ba64f2;
  border-radius: 9.6px;
  margin-top: 12px;
  padding-right: 15px;
  font-weight: 500;
}

.button-4 {
  width: 186px;
  text-align: left;
  background-color: #284c5d;
  background-image: url('../images/Color_128_GreenPlus.png');
  background-position: 94%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border-radius: 9.6px;
  align-self: center;
  margin-bottom: 12px;
  margin-left: 1253px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.text-block-16 {
  color: #e1e1e0;
  text-shadow: 4px 4px 3px rgba(17, 21, 29, .08);
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
}

.heading-3, .heading-4, .heading-5 {
  color: #2b2f35;
  text-shadow: 4px 4px 3px rgba(17, 21, 29, .08);
}

.heading-6 {
  text-shadow: 4px 4px 3px rgba(17, 21, 29, .08);
}

.heading-7 {
  color: #e1e1e0;
  text-shadow: 4px 4px 3px rgba(17, 21, 29, .08);
}

.heading-8 {
  text-shadow: 4px 4px 3px rgba(17, 21, 29, .08);
}

.heading-9 {
  color: #e1e1e0;
  text-shadow: 4px 4px 3px rgba(17, 21, 29, .08);
}

.background-video {
  z-index: .5;
  height: 750px;
  aspect-ratio: auto;
  object-fit: cover;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 75px -5px 0;
  padding-top: 5px;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.flex-block-8 {
  height: 750px;
  background-image: linear-gradient(233deg, rgba(186, 100, 242, .92), rgba(248, 247, 112, .56));
  margin-left: -5px;
  margin-right: -5px;
}

.div-block-10 {
  width: 100%;
  height: 20%;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  display: flex;
}

.text-block-17 {
  color: #e1e1e0;
  text-align: center;
  text-shadow: 2px 3px 8px rgba(17, 21, 29, .6);
  align-self: center;
  font-size: 64px;
  font-weight: 600;
  line-height: 96px;
}

.button-6 {
  border-radius: 9.6px;
  margin-left: 0;
  padding-left: 15px;
}

.hero-heading-right-copy {
  background-color: #e1e1e0;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.margin-bottom-24px-copy {
  color: #e1e1e0;
  margin-bottom: 24px;
}

.margin-bottom-24px-copy-copy {
  color: #e1e1e0;
  text-shadow: 4px 4px 3px rgba(17, 21, 29, .08);
  margin-bottom: 24px;
}

.margin-bottom-24px-copy {
  color: #e1e1e0;
  margin-bottom: 24px;
}

.hero-heading-left-copy-copy {
  background-color: #86888b;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.list-item-2 {
  margin-left: 12px;
}

.margin-bottom-24px-copy {
  color: #2b2f35;
  text-shadow: 4px 4px 3px rgba(17, 21, 29, .08);
  margin-bottom: 24px;
}

.hero-heading-right-2-copy {
  background-color: #86888b;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.paragraph-2 {
  color: #e1e1e0;
  text-shadow: 4px 4px 3px rgba(17, 21, 29, .08);
}

.link {
  color: var(--light-color);
  text-align: left;
  -webkit-text-stroke-color: var(--light-color);
  text-shadow: 4px 4px 3px rgba(17, 21, 29, .25);
  background-image: linear-gradient(#ba64f2, #ba64f2);
  border-radius: 9.6px;
  flex: 0 auto;
  order: 0;
  align-self: flex-end;
  margin: 3px;
  padding: 9.6px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  text-decoration: none;
  position: static;
}

.flex-block-13 {
  height: 100%;
  justify-content: flex-end;
}

.flex-block-14 {
  align-self: flex-end;
}

.link-copy {
  color: var(--light-color);
  text-align: left;
  -webkit-text-stroke-color: var(--light-color);
  text-shadow: 4px 4px 3px rgba(17, 21, 29, .25);
  background-image: linear-gradient(#ba64f2, #ba64f2);
  border-radius: 9.6px;
  flex: 0 auto;
  order: 0;
  align-self: flex-end;
  margin: 3px;
  padding: 9.6px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  text-decoration: none;
  position: static;
}

.text-block-20 {
  color: #e1e1e0;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(17, 21, 29, .6);
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.container-7 {
  width: 100%;
  max-width: 1080px;
  background-color: #11151d;
  border-radius: 15.46px;
  margin-left: auto;
  margin-right: auto;
  padding: 15.46px;
}

.testimonial-column-dark {
  z-index: 0;
  background-image: linear-gradient(rgba(17, 21, 29, .6), rgba(17, 21, 29, .6)), url('../images/_0027_ResoniteBranding_PosterArt_DevTip_02_v01b.jpg'), linear-gradient(#11151d, #11151d);
  background-position: 0 0, 50% 0, 0 0;
  background-size: auto, cover, auto;
  border-bottom: 1px solid #e4ebf3;
  margin-bottom: 0;
  margin-left: -5px;
  margin-right: -5px;
  padding: 80px 30px;
  position: relative;
}

.centered-heading {
  color: #e1e1e0;
  text-align: left;
  margin-bottom: 65px;
  font-weight: 600;
}

.features-wrapper-two {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.features-left {
  max-width: 40%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.features-paragraph {
  color: #e1e1e0;
  margin-bottom: 24px;
  font-weight: 400;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  color: #f8f770;
  margin-left: 2px;
  font-weight: 400;
  display: flex;
}

.features-right {
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: -16px;
  display: flex;
}

.features-block-two {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  display: flex;
}

.features-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 16px;
}

.paragraph-3, .paragraph-4, .paragraph-5 {
  color: #e1e1e0;
  font-weight: 400;
}

.heading-11 {
  color: #f8f770;
}

.text-block-21 {
  color: #f8f770;
  -webkit-text-stroke-color: #f8f770;
  font-weight: 400;
}

.container-9 {
  width: 100%;
  max-width: 1747px;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper-2 {
  max-width: 1080px;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content-2 {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small-2 {
  color: #e1e1e0;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

.footer-link-2 {
  color: #e1e1e0;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  text-decoration: none;
}

.footer-link-2:hover {
  color: #61d1fa;
}

.footer-social-block-2 {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link-2 {
  margin-left: 12px;
}

.footer-divider-2 {
  width: 100%;
  height: 1px;
  background-color: #86888b;
  margin-top: 30px;
  margin-bottom: 15px;
}

.footer-copyright-center-2 {
  color: #e1e1e0;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.footer-dark-3 {
  z-index: 2;
  background-color: #2b2f35;
  border-bottom: 1px solid #e4ebf3;
  margin-left: -5px;
  margin-right: -5px;
  padding: 50px 30px 15px;
  position: relative;
}

.pricing-overview {
  z-index: 1;
  background-color: #11151d;
  border-bottom: 1px solid #e4ebf3;
  margin: -1px -5px;
  padding: 80px 30px;
  position: relative;
}

.centered-heading-2 {
  color: #e1e1e0;
  text-align: center;
  margin-bottom: 16px;
  font-weight: 600;
}

.pricing-description {
  max-width: 550px;
  color: #e1e1e0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.pricing-grid {
  grid-column-gap: 64px;
  grid-row-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 50px;
  display: grid;
}

.pricing-card-three {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.pricing-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 16px;
}

.pricing-card-text {
  color: #e1e1e0;
  text-align: left;
  background-color: #484a2c;
  border-radius: 15.46px;
  margin-bottom: 20px;
  padding: 15.46px;
}

.arrow-embed-2 {
  color: #f8f770;
  margin-left: 2px;
  display: flex;
}

.arrow-embed-2:hover, .heading-12 {
  color: #f8f770;
}

.text-block-22 {
  color: #f8f770;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.text-block-22:hover {
  color: #ba64f2;
}

.heading-13, .heading-14 {
  color: #f8f770;
}

.text-block-23 {
  color: #f8f770;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.text-block-23:hover {
  color: #ba64f2;
}

.text-block-24 {
  color: #f8f770;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.text-block-24:hover {
  color: #ba64f2;
}

.body-7 {
  background-color: #11151d;
}

.flex-block-13-copy {
  height: 100%;
  background-image: url('../images/2023-12-09-01.56.20.jpg');
  background-position: 50% 0;
  background-size: cover;
  justify-content: flex-end;
  transition: opacity 60s;
}

.flex-block-13-copy:hover {
  opacity: 0;
}

.div-block-intavt-1-copy {
  aspect-ratio: 1440 / 620;
  background-image: url('../images/Features_Header_02.png');
  background-position: 50% 18%;
  background-size: cover;
}

.body-8 {
  background-color: #e1e1e0;
}

.flex-block-15 {
  z-index: 0;
  height: 500px;
  background-color: #e1e1e0;
  position: relative;
}

.flex-block-16 {
  z-index: 1;
  height: 500px;
  background-color: #61d1fa;
  position: -webkit-sticky;
  position: sticky;
}

.flex-block-17 {
  height: 500px;
  background-color: #59eb5c;
  position: relative;
}

.image-3 {
  background-image: linear-gradient(#2b2f35, #2b2f35);
  border-radius: 15.46px;
  padding: 15.46px;
}

.div-block-11 {
  padding-bottom: 76px;
}

.link-copy-2 {
  color: var(--light-color);
  text-align: left;
  -webkit-text-stroke-color: var(--light-color);
  text-shadow: 4px 4px 3px rgba(17, 21, 29, .25);
  background-image: linear-gradient(#ba64f2, #ba64f2);
  border-radius: 9.6px;
  flex: 0 auto;
  order: 0;
  align-self: flex-end;
  margin: 3px;
  padding: 9.6px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  text-decoration: none;
  position: static;
}

.hero-heading-right-3-copy {
  z-index: 1;
  background-color: #e1e1e0;
  border-bottom: 1px solid #e4ebf3;
  margin-bottom: 0;
  padding: 80px 30px;
  position: relative;
}

.body-9 {
  background-color: #11151d;
  background-image: linear-gradient(rgba(17, 21, 29, .4), rgba(17, 21, 29, .4)), url('../images/11x17_ResoniteFeatured_Website_01_00000.jpg');
  background-position: 0 0, 50% 35%;
  background-size: auto, cover;
}

.container-10 {
  width: 100%;
  max-width: 940px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  object-fit: fill;
  grid-template: "." minmax(auto, 1fr)
  / 1fr;
  grid-auto-columns: 1fr;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  display: grid;
}

.hero-wrapper-two {
  height: 504px;
  max-width: 750px;
  aspect-ratio: auto;
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);
  text-align: center;
  background-image: linear-gradient(rgba(36, 30, 53, .75), rgba(36, 30, 53, .75));
  border-radius: 15.46px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
}

.margin-bottom-24px-2 {
  width: 75%;
  color: #ba64f2;
  text-shadow: 4px 4px 3px rgba(17, 21, 29, .24);
  margin-bottom: 0;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: none;
  background-color: #492f64;
  border-radius: 9.6px;
  margin-top: 0;
  margin-bottom: 15.46px;
  padding: 12px 25px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #824aab;
}

.button-primary:active {
  background-color: #241e35;
}

.hero-image {
  width: 100%;
  margin-top: 50px;
}

.hero-image.shadow-two {
  width: 50%;
  aspect-ratio: 1 / 1;
  box-shadow: none;
  align-self: center;
  margin-top: 15.46px;
  margin-bottom: 15.46px;
}

.heading-15 {
  color: #ba64f2;
  text-shadow: 4px 4px 3px rgba(17, 21, 29, .24);
  padding-left: 9px;
  padding-right: 9px;
  font-size: 39px;
  font-style: normal;
  font-weight: 600;
  line-height: 58.5px;
}

.flex-block-18 {
  align-items: center;
}

.flex-block-19 {
  text-align: right;
  justify-content: center;
}

.div-block-11-copy {
  padding-bottom: 25px;
}

.flex-block-20 {
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  align-content: center;
  justify-content: center;
  align-self: center;
  justify-items: center;
  display: grid;
}

.image-4 {
  text-align: center;
  border-radius: 15.46px;
  align-self: center;
  margin: 15.46px;
  padding: 0;
  display: block;
  position: static;
}

.flex-block-21 {
  justify-content: center;
}

.flex-block-22 {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(36, 30, 53, .75);
  border-radius: 15.46px;
  justify-content: center;
  align-items: center;
}

.testimonial-slider-large {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-12 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-slider-two {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
}

.testimonial-slide {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: rgba(36, 30, 53, .75);
  border-radius: 15.46px;
  justify-content: space-between;
  align-items: center;
  margin-left: 15.46px;
  margin-right: 15.46px;
  padding: 15.46px 15.46px 15.46px 64px;
  display: flex;
}

.testimonial-content {
  max-width: 460px;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 40px;
  display: flex;
}

.testimonial-quote-icon {
  margin-bottom: 24px;
}

.testimonial-quote {
  color: #e1e1e0;
  margin-bottom: 32px;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
}

.testimonial-info-two {
  align-items: center;
  display: flex;
}

.testimonial-image-2 {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 16px;
}

.testimonial-author-name {
  color: #e1e1e0;
  font-size: 39px;
  font-weight: 500;
  line-height: 58.5px;
}

.testimonial-image-two {
  width: 350px;
  height: 400px;
  object-fit: cover;
  border-radius: 15.46px;
}

.testimonial-author-image-three {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 24px;
}

.testimonial-slider-arrow {
  display: none;
}

.testimonial-slider-nav {
  margin-top: 24px;
  font-size: 10px;
  position: static;
  bottom: -60px;
}

.flex-block-23 {
  height: 270px;
  justify-content: flex-start;
  align-self: center;
  align-items: center;
}

.flex-block-20-copy {
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  align-content: center;
  justify-content: center;
  align-self: center;
  justify-items: center;
  display: grid;
}

@media screen and (max-width: 991px) {
  .container-2 {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-two {
    background-color: #2b2f35;
    border-radius: 15.46px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .hero-wrapper-2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .list-3 {
    grid-template-columns: 1fr 1fr;
  }

  .background-video {
    margin-top: 89px;
  }

  .link, .link-copy {
    align-self: flex-end;
    padding: 3px;
    font-size: 9.3px;
    line-height: 14px;
  }

  .container-7 {
    max-width: 728px;
  }

  .features-wrapper-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .features-left {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .features-right {
    max-width: 100%;
  }

  .container-9 {
    max-width: 728px;
  }

  .footer-content-2 {
    grid-column-gap: 60px;
  }

  .pricing-grid {
    grid-column-gap: 30px;
  }

  .link-copy-2 {
    align-self: flex-end;
    padding: 3px;
    font-size: 9.3px;
    line-height: 14px;
  }

  .container-10 {
    max-width: 728px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    margin-right: 0;
    padding-left: 15.46px;
    padding-right: 15.46px;
    display: grid;
  }

  .hero-wrapper-two {
    height: 470px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .heading-15 {
    margin-top: 9px;
    padding-left: 9px;
    padding-right: 9px;
  }

  .flex-block-20 {
    width: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-self: center;
    display: grid;
  }

  .container-12 {
    max-width: 728px;
  }

  .testimonial-slide {
    padding-left: 32px;
  }

  .testimonial-quote {
    overflow: visible;
  }

  .flex-block-20-copy {
    width: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-self: center;
    display: grid;
  }
}

@media screen and (max-width: 767px) {
  .style-guide-color-wrap {
    height: auto;
  }

  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand-2 {
    padding-left: 0;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .hero-heading-left, .hero-heading-right-3 {
    padding: 60px 15px;
  }

  .hero-stack {
    height: 330px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .list-3 {
    grid-template-columns: 1fr;
  }

  .text-block-16 {
    color: #e1e1e0;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
  }

  .background-video {
    margin-top: 89px;
  }

  .text-block-17 {
    line-height: 80px;
  }

  .hero-heading-right-copy, .hero-heading-left-copy-copy, .hero-heading-right-2-copy {
    padding: 60px 15px;
  }

  .link, .link-copy {
    padding: 3px;
  }

  .text-block-20 {
    padding-left: 15.46px;
    padding-right: 15.45px;
  }

  .testimonial-column-dark {
    padding: 60px 15px;
  }

  .footer-wrapper-2 {
    flex-direction: column;
    align-items: center;
  }

  .footer-content-2 {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block-2 {
    align-items: center;
  }

  .footer-link-2:hover {
    color: rgba(26, 27, 31, .75);
  }

  .footer-social-block-2 {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link-2 {
    margin-left: 20px;
  }

  .footer-divider-2 {
    margin-top: 60px;
  }

  .footer-dark-3 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .pricing-overview {
    padding: 60px 15px;
  }

  .link-copy-2 {
    padding: 3px;
  }

  .hero-heading-right-3-copy {
    padding: 60px 15px;
  }

  .hero-wrapper-two {
    height: 504px;
  }

  .testimonial-slider-large {
    padding: 60px 15px;
  }

  .testimonial-slide {
    flex-direction: column;
    padding: 23px;
  }

  .testimonial-content {
    max-width: none;
    margin-bottom: 40px;
    margin-right: 0;
  }

  .testimonial-quote-icon {
    width: 50px;
    margin-bottom: 16px;
  }

  .testimonial-image-two {
    width: 100%;
    height: auto;
  }

  .flex-block-23 {
    height: 320px;
  }
}

@media screen and (max-width: 479px) {
  .style-guide-grid {
    flex-direction: column;
    grid-template-columns: 1fr;
    display: flex;
  }

  .style-guide-grid-item-wrap {
    grid-template-columns: 1fr;
  }

  .container-2 {
    max-width: none;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .text-block-4 {
    font-size: 24px;
    line-height: 32px;
  }

  .event-wrapper {
    height: auto;
    aspect-ratio: auto;
    object-fit: fill;
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }

  .top-wrapper {
    height: 100px;
  }

  .date-and-day-wrapper {
    height: 100px;
    flex: 0 auto;
  }

  .event-information-wrapper {
    height: 100px;
    flex: 0 auto;
    margin-right: 9px;
  }

  .h1 {
    aspect-ratio: auto;
    object-fit: contain;
  }

  .event-name {
    padding-left: 1px;
    font-size: 19.8px;
    line-height: 24px;
  }

  .flex-block-4 {
    height: 100px;
  }

  .event-date {
    font-size: 9.3px;
    line-height: 16px;
  }

  .event-link {
    margin-right: 9px;
    font-size: 9.3px;
    line-height: 16px;
  }

  .event-time {
    font-size: 9.3px;
    line-height: 16px;
  }

  .horizontal-divider-wrapper {
    height: 10px;
  }

  .image {
    align-self: auto;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .text-block-10, .text-block-11 {
    align-self: center;
    font-size: 39.6px;
    line-height: 39.6px;
  }

  .text-block-13 {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 39.6px;
    line-height: 39.6px;
  }

  .text-block-14 {
    font-size: 9.3px;
    line-height: 16px;
  }

  .button-3 {
    margin-right: 12px;
    font-size: 19.8px;
    line-height: 24px;
  }

  .heading-3, .heading-4, .heading-5 {
    font-size: 24px;
    line-height: 32px;
  }

  .heading-6, .heading-7, .heading-8, .heading-9 {
    font-size: 24px;
    line-height: 36px;
  }

  .background-video {
    height: 450px;
    background-image: none;
    margin-top: 90px;
  }

  .flex-block-8 {
    height: 450px;
    background-image: linear-gradient(61deg, rgba(248, 247, 112, .45), #ba64f2);
  }

  .div-block-10 {
    align-self: center;
  }

  .text-block-17 {
    font-size: 39px;
    line-height: 58.5px;
  }

  .button-6 {
    margin-top: 12px;
  }

  .link, .link-copy {
    text-align: right;
    padding: 3px;
    font-size: 5.8px;
    line-height: 8.7px;
  }

  .container-7 {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .features-right {
    margin-bottom: -30px;
  }

  .features-block-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .features-image {
    margin-bottom: 10px;
  }

  .container-9 {
    max-width: none;
  }

  .centered-heading-2 {
    margin-bottom: 24px;
  }

  .pricing-grid {
    grid-template-columns: 1fr;
  }

  .link-copy-2 {
    text-align: right;
    padding: 3px;
    font-size: 5.8px;
    line-height: 8.7px;
  }

  .container-10 {
    width: 85%;
    max-width: none;
    align-items: center;
    justify-items: center;
    margin-left: 0;
    padding: 3px 0;
  }

  .hero-wrapper-two {
    height: 440px;
    margin-left: 3px;
    margin-right: 3px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-bottom-24px-2 {
    font-size: 9.3px;
    line-height: 13px;
  }

  .button-primary {
    margin-bottom: 7.46px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .heading-15 {
    margin-top: 6px;
    font-size: 24px;
    line-height: 32px;
  }

  .flex-block-18 {
    flex-direction: column;
    display: flex;
  }

  .flex-block-20 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .container-12 {
    max-width: none;
  }

  .testimonial-quote-icon {
    width: 30px;
  }

  .testimonial-quote {
    font-size: 22px;
    line-height: 30px;
  }

  .testimonial-author-image-three {
    margin-right: 16px;
  }

  .flex-block-20-copy {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
}

#w-node-_94b3c992-6e84-9ddb-59fb-4a4d840429d2-efa77703, #w-node-_94b3c992-6e84-9ddb-59fb-4a4d840429dc-efa77703, #w-node-_94b3c992-6e84-9ddb-59fb-4a4d840429e6-efa77703, #w-node-_64ee8472-d36f-cdd2-0ed6-b51224e73e29-efa77703, #w-node-_64ee8472-d36f-cdd2-0ed6-b51224e73e20-efa77703, #w-node-_64ee8472-d36f-cdd2-0ed6-b51224e73e34-efa77703 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-af6ac8e3-b1ce-cda6-23dc-a32b43a6a065-efa77704 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-cef64361-1f9b-8732-7793-1d4785eeed97-efa77704 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-c4313243-b51c-03bb-11ad-c431ebe2a80b-efa77704 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-d0d2d682-3502-a29f-1a22-871f47028af2-efa77704, #w-node-eb00ca3d-f0c1-8354-e9aa-1faf574614be-efa77704, #w-node-_85cb43b8-5298-9d0a-b169-853350d81ae0-efa77704, #w-node-_5ce572de-a6ee-b264-99b3-588be3f1debe-efa77704, #w-node-e573c9ae-1e4b-15b0-7098-638502628a9c-efa77704, #w-node-_0c02166c-4ee3-9762-cc8d-f567a47991b2-efa77704, #w-node-_31bfd8e3-b79a-c6a8-c644-de3e1d6aef06-efa77704, #w-node-_8101b2ee-d87b-6d50-ecc4-1cc6560df4db-efa77704, #w-node-aa9291ec-5ca1-3ae2-496b-ff742d602a68-efa77704, #w-node-_479385eb-f044-0d6d-9fb9-3510fe0092c5-efa77704, #w-node-_36d6a540-3dac-ba1b-4887-4e460e7ddc86-efa77704, #w-node-_58a77a61-8d2a-f298-bcf8-5b5d6bda4258-efa77704, #w-node-_84eebd00-708d-d564-7474-81a48d7f1aa8-efa77704, #w-node-c0ceb277-bbf2-2cf4-4072-7fa273a7e783-efa77704, #w-node-_293d8aee-201d-8e8e-7d11-7b9b1bf3932f-efa77704, #w-node-e02f6cf5-e81b-07a2-d153-c916403846e7-efa77704, #w-node-_90e05c14-0560-63b0-7156-ffcbe12cdec6-efa77704, #w-node-_90e05c14-0560-63b0-7156-ffcbe12cdec7-efa77704, #w-node-_40d4d6df-e38b-f778-5115-ea8f93d0542e-efa77704, #w-node-c9d7c3ab-d31b-4fe2-e290-666f73a76a6a-efa77704, #w-node-_1cb2eaff-c085-9ab3-df4a-1725ee4f484b-efa77704, #w-node-_1229091c-99d0-b728-5727-37785a9996e2-efa77704 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f637bbff-835b-0236-4124-4ac1eef82ac3-efa77704 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_826fbc41-7f9a-f875-b76e-3e9c3ff2002b-efa77704, #w-node-ed82fd76-b394-3b31-d285-0d24c40a28ca-efa77704, #w-node-_11717b33-079b-321a-8523-e173de28bfe2-efa77704 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-e383549d-c8b3-87cd-ee42-73f99aa01117-efa77704 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_55db6e40-b97b-9254-09df-2929df1b67ad-efa77704, #w-node-_8a96fce1-c74f-35f2-c6f4-3587e7d0e79a-efa77704, #w-node-bfdc7d70-2863-8331-b4f9-ad395f381310-efa77704, #w-node-_8219438d-b20e-01aa-f124-d537d0821573-efa77704, #w-node-df52a5df-cf6e-cd43-ccd8-20633efad3fb-efa77704, #w-node-cd8a551e-24bb-f985-80c2-ed654c7036ec-efa77704, #w-node-c73ec5c5-9d1c-c71a-647d-93fd71def3a3-efa77704, #w-node-b28db8fa-48cc-0fc7-f454-c90e65fa4e38-efa77704 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_18765f94-c4e6-c755-ac1d-a3de06ce4dbc-efa77704 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_91cfe370-0245-0733-cc80-e0128461d2a5-efa77704, #w-node-_983a314a-baad-360b-c27c-560bd790abd0-efa77704, #w-node-dec986e8-2989-ac3d-9697-51959cdb817b-efa77704 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_539debc5-c3bf-e500-5373-a3259d80206f-efa77704 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-aecd07ed-cd8b-1716-e906-11a45aa52757-efa77704, #w-node-_432c5549-5a58-4527-4926-71dbf8e6a1d1-efa77704, #w-node-_165d79eb-b2a5-28c4-eb36-16dde57c961e-efa77704, #w-node-c962fc9a-3fcf-08e3-bdf2-4ecd4a9701dd-efa77704, #w-node-_448e0e5a-f5bb-b07f-46a7-e322d88554aa-efa77704, #w-node-_448e0e5a-f5bb-b07f-46a7-e322d88554ab-efa77704 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-bca97c44-ed2a-c4d2-234a-6c62ee4dc6b5-efa77704 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_65cb131a-038a-ef25-ea34-fb9ed9c178b0-efa77704, #w-node-_50c4eecd-635c-c0cb-6b83-c35774246b79-efa77704, #w-node-c8916215-f428-4614-ff29-bbb3582a90eb-c40d89ac, #w-node-c8916215-f428-4614-ff29-bbb3582a90f2-c40d89ac, #w-node-c8916215-f428-4614-ff29-bbb3582a90fb-c40d89ac, #w-node-d127d85e-5c17-a023-ca5d-3b118a08a66f-dda57eb1, #w-node-d127d85e-5c17-a023-ca5d-3b118a08a676-dda57eb1, #w-node-d127d85e-5c17-a023-ca5d-3b118a08a67f-dda57eb1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-d16ab675-d921-e7f3-287a-816686ae6992-7c7e4c69 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_766cd561-15ea-ae5f-e395-5cc50c8b70e6-fa530bc7, #w-node-_4e496d86-be31-43b8-ecb6-4ef8b9df5be2-fa530bc7, #w-node-_1a74592e-493c-2de0-c9e8-be4eb54acb83-fa530bc7, #w-node-_2e03cd88-a060-9251-954a-599db6a1bc5b-fa530bc7, #w-node-_138b2c9e-6760-4180-d3ec-817fc79eb5bc-fa530bc7, #w-node-d007db75-50f1-8059-e8ae-fadd85441f45-fa530bc7, #w-node-_4d1acbe6-a45a-e2c2-8ea3-707579b28376-fa530bc7, #w-node-_2e09f7f0-c625-af5a-478d-c0432486fe2b-fa530bc7 {
    justify-self: center;
  }
}


