.features-page{
  display: block;

}

.hero-heading-right {
  width: 100%;
  height: 245px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #11151d;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 24px;
  display: flex;
}

.features-container {
  width: 100%;
  height: 181px;
  max-width: 1310px;
  grid-column-gap: 340px;
  grid-row-gap: 340px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.column {
  width: 100%;
  max-width: 1310px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.features-content {
  width: 100%;
  max-width: 1120px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.a1 {
  color: #e1e1e0;
  text-align: right;
  font-size: 64px;
  font-weight: 600;
  line-height: 96px;
  position: absolute;
}

.column-2 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.case-studies {
  width: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Poppins, sans-serif;
  display: flex;
}

.column-3 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.hero-heading-left {
  width: 100%;
  height: 514px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #e1e1e0;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 24px;
  display: flex;
}

.container-2 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.column-4 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.b1 {
  color: #2b2f35;
  font-size: 39px;
  font-weight: 500;
  line-height: 58.5px;
}

.d1 {
  color: #2b2f35;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
}

.image-wrapper {
  width: 100%;
  border-radius: 15.46px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image {
  width: 100%;
  object-fit: cover;
  border-radius: 15.46px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero-heading-right-2 {
  width: 100%;
  height: 539px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #e1e1e0;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 24px;
  display: flex;
}

.actions {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.features {
  width: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hero-heading-right-3 {
  width: 100%;
  height: 816px;
  max-width: 1440px;
  min-height: 816px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 24px;
  display: flex;
}

.container-3 {
  width: 100%;
  height: 181px;
  max-width: 1282px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.column-5 {
  width: 100%;
  max-width: 1227px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-2 {
  width: 100%;
  max-width: 1120px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.column-6 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.hero-heading-left-2 {
  width: 100%;
  height: 514px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #e1e1e0;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 24px;
  display: flex;
}

.container-4 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.column-7 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.b1-2 {
  color: #2b2f35;
  font-family: Poppins, sans-serif;
  font-size: 39px;
  font-weight: 500;
  line-height: 58.5px;
}

.d1-2 {
  color: #2b2f35;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
}

.actions-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.button {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #2b2f35;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.text {
  color: #e1e1e0;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
}

.image-wrapper-2 {
  width: 100%;
  border-radius: 15.46px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero-stack {
  width: 100%;
  height: 620px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  object-fit: cover;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 64px 24px 142px;
  display: flex;
}

.column-8 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.container-5 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.column-9 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-wrapper-3 {
  width: 100%;
  border-radius: 15.46px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-10 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.container-6 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.column-11 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.hero-heading-right-4 {
  width: 100%;
  height: 816px;
  max-width: 1440px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: fill;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  margin-right: 0;
  padding: 0;
  display: flex;
}

.container-7 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.column-12 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.column-13 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.hero-heading-right-5 {
  width: 100%;
  height: 816px;
  max-width: 1440px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  object-fit: cover;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 24px;
  display: flex;
}

.features-2 {
  width: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hero-heading-right-6 {
  width: 100%;
  height: 816px;
  max-width: 1440px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  object-fit: fill;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 24px;
  display: flex;
}

.hero-heading-left-3 {
  width: 100%;
  height: 514px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #e1e1e0;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 24px;
  display: flex;
}

.container-8 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.column-14 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.b1-3 {
  color: #2b2f35;
  font-family: Poppins, sans-serif;
  font-size: 39px;
  font-weight: 500;
  line-height: 58.5px;
}

.d1-3 {
  color: #2b2f35;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
}

.column-15 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-wrapper-4 {
  width: 100%;
  border-radius: 15.46px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero-stack-2 {
  width: auto;
  height: 0;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  aspect-ratio: 1440 / 620;
  object-fit: cover;
  background-image: url('/assets/images/Features_Header_02.png');
  background-position: 0 0;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 310px 0;
  display: block;
  position: relative;
}

.hero-heading-center {
  aspect-ratio: 16 / 9;
  object-fit: fill;
  background-color: #f5f7fa;
  background-image: url('/assets/images/Features_Header_01.png');
  background-position: 0 0;
  background-size: cover;
  background-attachment: fixed;
  border-bottom: 1px solid #e4ebf3;
  margin-left: 0;
  padding: 0;
  position: relative;
}

.container-9 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.centered-heading.margin-bottom-32px {
  margin-bottom: 32px;
}

.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.shadow-two {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.hero-heading-center-2 {
  aspect-ratio: 1440 / 816;
  object-fit: fill;
  background-color: #f5f7fa;
  background-image: url('/assets/images/Features_Header_01.png');
  background-position: 0 0;
  background-size: cover;
  border-bottom: 1px solid #e4ebf3;
  padding: 310px 0;
  position: relative;
}

.hero-heading-right-7 {
  width: 100%;
  height: 539px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #e1e1e0;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 24px;
  display: flex;
}

.container-10 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.column-16 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-wrapper-5 {
  width: 100%;
  border-radius: 15.46px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-17 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.actions-3 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.button-2 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #2b2f35;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.hero-stack-3 {
  width: 100%;
  height: 620px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  aspect-ratio: 1440 / 620;
  object-fit: fill;
  background-image: url('/assets/images/Features_Header_03.png');
  background-position: 0 0;
  background-size: auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 310px 0;
  display: flex;
  position: relative;
}

.hero-stack-4 {
  width: 100%;
  height: 306px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #2b2f35;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 24px;
  display: flex;
}

.small-container {
  width: 100%;
  max-width: 960px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.title-section {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-2 {
  color: #e1e1e0;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
}

.text-3 {
  color: #e1e1e0;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.image-wrapper-6 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.hero-heading-right-8 {
  aspect-ratio: auto;
  object-fit: fill;
  background-color: #f5f7fa;
  background-image: url('/assets/images/Features_Header_02.png');
  background-position: 0 0;
  background-size: cover;
  border-bottom: 1px solid #e4ebf3;
  padding: 550px 0;
  display: block;
  position: relative;
}

.container-11 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-2 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split-2 {
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.shadow-two-2 {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.margin-bottom-24px-2 {
  margin-bottom: 24px;
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

.hero-heading-center-3 {
  aspect-ratio: auto;
  object-fit: fill;
  background-color: #f5f7fa;
  background-image: url('/assets/images/Features_Header_03.png');
  background-position: 0 0;
  background-size: cover;
  border-bottom: 1px solid #e4ebf3;
  padding: 550px 0;
  position: relative;
  display: block;
}

.centered-heading-2 {
  text-align: center;
  margin-bottom: 16px;
}

.centered-heading-2.margin-bottom-32px {
  margin-bottom: 32px;
}

@media screen and (max-width: 991px) {
  .container, .f2wf-columns, .container-3, .f2wf-columns-2, .f2wf-columns-3 {
    flex-direction: column;
    align-items: center;
  }

  .container-9 {
    max-width: 728px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .container-11 {
    max-width: 728px;
  }

  .hero-wrapper-2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split-2 {
    max-width: 100%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .hero-heading-center, .hero-heading-center-2, .hero-heading-right-8, .hero-heading-center-3 {
    padding: 60px 15px;
  }
}

@media screen and (max-width: 479px) {
  .container-9 {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .container-11 {
    max-width: none;
  }

  .centered-heading-2 {
    margin-bottom: 24px;
  }
}


